*{
	margin:0;
	padding: 0;
}
:root{
	--red:#ff3c3c;
	--light-red:#ff8787;
}

.header{
	display: grid;
	grid-template-columns: 1fr 3fr;
	grid-gap: 1rem;
	height: : 10vh;
	background-color: var(--red);
	padding: 1rem;
}
#search-box{
	background:none;
	border: none;
	border-bottom: 0.1rem black solid;
}
#search-box,
#search-box::-webkit-input-placeholder {
    font-size: 1.3rem;
    color:white;
    
}

body{
	background-color: var(--light-red);
}
#ytplayer{
	width: 100%;
	height: 50vh;
}
#search-results{
	display: grid;
	grid-template-columns: repeat(5,1fr);

	grid-gap: 10px
}
.videoListing{

	padding: 10px;
	display: flex;
	flex-direction:column;
	justify-content: space-between;
	background-color: var(--red);
	box-shadow: 2px 1px red;

}
.videoListing:hover{
	background-color: #bd0e0e;
}

.videoListing > p{
	margin-bottom: 10px;
	color:white;
}
.videoTitle{
	font-size: 1rem;
}
.videoImage{
	
  display: block;
  width: 100%;
  height: auto;

}


@media(max-width: 700px){
	#search-results{
		grid-template-columns: repeat(2,1fr);


	}

	.header{
		display: block;
		padding: 2px;

	}
	.header >h1{
		padding-left: 10px;
	}
	#search-box,
	#search-box::-webkit-input-placeholder{
		width: 100%;
		margin:10px;
		height: 10vh;
    	font-size: 1.9rem;
    	margin:0px;
    	padding-left: 5px;
	}
}
@media(max-width: 450px){
	#search-results{
		grid-template-columns: repeat(1,1fr);
	}
}	